html,body{
	margin: 0;
	padding: 0;
	height: 100%;
}

.container-fluid, .row{
	height: 100%
}


#positive, #negative{
	height: 100%;
	width: 50%;
	display: inline-block;
	overflow: auto;
}

h1{
	text-align: center;
}

#positive{
	/*border: 1px solid green;*/
	float: left;
	background: #A4FF92;
}

#negative{
	float: right;
	background: #ff9999;
}

ul{
	list-style: none;
	padding: 1.5em;
	margin-left: 6em;
	font-size: 1.2em
}
#positive ul li:before{
	content: "+";
	margin-right: 10px
}
#negative ul li:before{
	content: "-";
	margin-right: 10px
}

footer{
	clear:both;
}

.buttons{
	position: relative;
	top: 13em;
	margin: 0 auto;
	margin-bottom: 2em
}

.btn-block{
	max-width: 6.5em;
	margin: 0 auto
}

#github{
	position: fixed;
	right: 1em;
	bottom: .5em;
}

.delete{
	font-size: 14px;
	color: white;
	font-weight: bold;
	opacity: 0
}

li:hover > span.delete{
	opacity: 1
}




::-webkit-input-placeholder {
 font-size: 14px;
 color: #d0cdfa;
 text-align: center;
 font-weight: bold;
}



